body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Parallax Effect */
.parallax {
  background-image: url("PhotoReal_Generate_a_modern_and_sophisticated_landing_page_ima_3.jpg");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Flex container */
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;  /* Positioning relative to the parallax */
}

.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 10px;
}

.container {
  width: 80%;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #2c3e50;
  font-size: 24px;
}

p {
  color: #7f8c8d;
  font-size: 16px;
}

.cta-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 16px;
}

.cta-button:hover {
  background-color: #2980b9;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-content {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}


/* Image at the bottom */
.bottom-image {
  text-align: center;
}

.bottom-image img {
  width: auto;
  max-width: 100%;
  height: auto;
}